body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../assets/lightpaperfibers.png")
}

img {
  width: 100%;
}

.logo {
  width: 70%;
  margin-left: 30%;
}

img#home {
  width: 75%;
  float: right;
}
